$primaryColor: blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$no_algos: 6;

.algos {
  button {
    &:hover {
      background-color: salmon;
      cursor: pointer;
    }
  }

  .butt_selected {
    color: green;
    &:hover {
      // background-color: white;
      cursor: pointer;
    }
  }
}

#array_generator {
  &:hover {
    background-color: salmon;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  p {
    transform: rotate(270deg);
  }
}

@media screen and (max-width: 500px) {
  p {
    display: none;
  }
}
